body{
  background-color: lightslategrey;
}

#wrapper {
    display: flex;
    max-width: 960px;
    max-height: 700px;
    margin: auto;
    justify-content: center;
    padding-top: 100px;
  }

 #side {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 600px;
   background-color: skyblue;
 
}

#cblock, #picture{
  width: 800px;
  height: 600px;
  
}







  
  